
body {
	background-image: url('bg.png');
	background-size: cover;
	background-position: 0px -250px;
}

.wrapper {
	margin: 20em auto 2em auto;
	width:80%;
	position:relative;
}

.bike {
animation-name: slide;
animation-duration: 4s;
animation-timing-function: ease-in;
animation-iteration-count: 5;
}

@keyframes slide {
	from {transform: translateX(0px);}
	to {transform: translateX(1000px);}
}
