
.DS_Store
Lab 4 - Spark AR/1 Face Effects/Moustache.arproj
Lab 4 - Spark AR/1 Face Effects/textures/Moustache(1).png
Lab 4 - Spark AR/1 Face Effects/textures/Moustache.png
Lab 4 - Spark AR/2 Particles/Particles.arproj
Lab 4 - Spark AR/2 Particles/textures/inventory_tex.04.png
Lab 4 - Spark AR/3 Materials and Textures/.DS_Store
Lab 4 - Spark AR/3 Materials and Textures/Materials.arproj
Lab 4 - Spark AR/3 Materials and Textures/objects/origami_hand/origami_hand.fbx
Lab 4 - Spark AR/3 Materials and Textures/textures/origami_hand_mat_BaseColor.jpg
Lab 4 - Spark AR/3 Materials and Textures/textures/origami_hand_mat_Normal.jpg
Lab 4 - Spark AR/3 Materials and Textures/textures/origami_hand_mat_OcclusionRoughnessMetallic.jpg
Lab 4 - Spark AR/4 World Effects/textures/inventory_tex.01.png
Lab 4 - Spark AR/4 World Effects/World Effect.arproj
Lab 4 - Spark AR/5 Lights Project/.DS_Store
Lab 4 - Spark AR/5 Lights Project/Lights.arproj
Lab 4 - Spark AR/5 Lights Project/objects/flashlight/flashlight.fbx
Lab 4 - Spark AR/5 Lights Project/textures/faceMeshMask.png
Lab 4 - Spark AR/5 Lights Project/textures/flashlight_c.jpg
Lab 4 - Spark AR/5 Lights Project/textures/flashlightCone.jpg
Lab 4 - Spark AR/5 Lights Project/textures/vignette.jpg
Lab 4/.DS_Store
Lab 4/1 Face Effects/Moustache.arproj
Lab 4/1 Face Effects/textures/Moustache(1).png
Lab 4/1 Face Effects/textures/Moustache.png
Lab 4/2 Particles/Particles.arproj
Lab 4/2 Particles/textures/inventory_tex.04.png
Lab 4/3 Materials and Textures/.DS_Store
Lab 4/3 Materials and Textures/Materials.arproj
Lab 4/3 Materials and Textures/objects/origami_hand/origami_hand.fbx
Lab 4/3 Materials and Textures/textures/origami_hand_mat_BaseColor.jpg
Lab 4/3 Materials and Textures/textures/origami_hand_mat_Normal.jpg
Lab 4/3 Materials and Textures/textures/origami_hand_mat_OcclusionRoughnessMetallic.jpg
Lab 4/4 World Effects/textures/inventory_tex.01.png
Lab 4/4 World Effects/World Effect.arproj
Lab 4/5 Lights Project/.DS_Store
Lab 4/5 Lights Project/Lights.arproj
Lab 4/5 Lights Project/objects/flashlight/flashlight.fbx
Lab 4/5 Lights Project/textures/faceMeshMask.png
Lab 4/5 Lights Project/textures/flashlight_c.jpg
Lab 4/5 Lights Project/textures/flashlightCone.jpg
Lab 4/5 Lights Project/textures/vignette.jpg
Lab 5/.DS_Store
Lab 5/Dynamic Text/.DS_Store
Lab 6/.DS_Store
