/* Animation Basics */
body {
	background-color: #D8E8FA;
}

.wrapper {
	margin: 2em auto 2em auto;
	width: 350px;
	position:relative;
}

.cow {
	transform: translate(350px) scale(.5) rotate(120deg);
}
