body {padding:6em; background: #545272;}

.wrap {width:200px;  z-index:1;}

.sticker {
  width:200px;
  height:200px;
  position:absolute;
  background: url(sticker.png) top center no-repeat;
  animation: spin 10s linear infinite;
  animation-play-state: paused;
}

.sticker:hover {
  animation-play-state: running;
}

.center {
  margin-left: 300px;
  margin-top: 300px;
}

.right {
  right: 100px;
  margin-top: 100px;
}

@keyframes spin {
    100% {transform: rotate(1turn);}
}
