
body {margin: 4em 10%; background: darkgrey;}

.ball {
	margin-bottom: 100px;
}

.ball1 {
	animation-name: one;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.ball2 {
	animation-name: two;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

.ball3 {
	animation-name: three;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.67,.15,.98,.07);

}

@keyframes one {
	from {transform: translate(0px) rotate(0turn)}
	to {transform: translate(1000px) rotate(2turn);}
}

@keyframes two {
	from {transform: translate(0px) rotate(0turn)}
	to {transform: translate(1000px) rotate(2turn);}
}

@keyframes three {
	from {transform: translate(0px) rotate(0turn)}
	to {transform: translate(1000px) rotate(2turn);}
}
